<%- include("../header", {seccion: "Pagina Principal", opciones: [
{link: "/mascotas", label: "Mascotas"},
{link: "/adopciones", label: "Adopciones"},
{link: "/personal", label: "Personal",  activo: true} ]})%>

<h1>Detalles de <%=empleado.apellidos%> <%=empleado.nombres%></h1>

<p>
    <b>Cedula de identidad:</b> <%=empleado.cedula%> <br>
    <b>Nombres: </b>  <%=empleado.nombres%> <br>
    <b>Apellidos:</b> <%=empleado.apellidos%> <br>
    <b>Cargo: </b> <%= cargos_nombres[empleado.cargo] %> <br>
</p> 

<%- include("../footer") %> 