<%- include("../header", {seccion: "Procesos de Adopciones", opciones: [
{link: "/mascotas", label: "Mascotas"},
{link: "/adopciones", label: "Adopciones",  activo: true},
{link: "/personal", label: "Personal"} ]})%>

<h1>
    Registro de todos los Procesos de Adopciones de Mascotas
</h1>

<a href="/adopciones/add" class="btn btn-primary">Registrar un proceso de adopcion</a><br>
<hr>

<% if(adopciones.length > 0) { %>
<table class="table table-striped table-hover">
    <thead>
        <tr scope="col">
            <th>#</th>
            <th>Fecha</th>
            <th>Mascota</th>
            <th>Adoptivo</th>
            <th>Responsable</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <%adopciones.forEach((a, i)=>{%>
    <tr>
        <th><%= i + 1%></th>
        <td><%=a.fecha%> </td>
        <%var mascota_uwu = mascotas.find(m => m._id == a.mascota);%>
        <td><%=mascota_uwu.nombre%> </td>
        <td><%=a.nombres%> <%=a.apellidos%></td>
        <%var respon = personal.find(p => p._id == a.responsable);%>
        <td> <%=respon.nombres%> <%=respon.apellidos%> </td>
        <td> <%=estados[a.estado]%> </td>
        <td class="btn-group">
        <a href="/adopciones/show/<%=a._id%>" class="btn btn-secondary">Detalles</a>
        <a href="/adopciones/edit/<%=a._id%>" class="btn btn-warning">Editar</a>
        <form action="/adopciones/delete/<%=a._id%>" method="post" 
            onsubmit="return confirm('¿Seguro que quieres eliminar este registro de adopción? ¡Esta accion no se puede deshacer!')">
            <input type="submit" class="btn btn-danger" value="Eliminar">
        </form>
        </td>
    </tr>
    <%});%>
</table>

<%} else{ %> 
    <h3> No hay registros recientes de adopciones. </h3>
<% } %> 

<%- include("../footer")%>